<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>208053504104-9fh39v6gomg16hmv4uidrvftp2bjjohv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.208053504104-9fh39v6gomg16hmv4uidrvftp2bjjohv</string>
	<key>API_KEY</key>
	<string>AIzaSyCkRjDozwsyQuLfs5_LNOd3fQviPS0fGnM</string>
	<key>GCM_SENDER_ID</key>
	<string>208053504104</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Monash.FIT5140-Assignment2</string>
	<key>PROJECT_ID</key>
	<string>fit5140assignment2-7e1a3</string>
	<key>STORAGE_BUCKET</key>
	<string>fit5140assignment2-7e1a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:208053504104:ios:eefd58b9116d224f</string>
	<key>DATABASE_URL</key>
	<string>https://fit5140assignment2-7e1a3.firebaseio.com</string>
</dict>
</plist>